@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf"); 
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf");
}
// @font-face {
//     font-family: "";
//     src: url("../fonts/.eot") format("eot"),
//     url("../fonts/.svg") format("svg"),
//     url("../fonts/.ttf") format("ttf"),
//     url("../fonts/.woff") format("woff"),
//     url("../fonts/.woff2") format("woff2");