@import '_libs.scss';
@import '_fonts.scss';
@import '_vars.scss';

* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, ul {
    margin: 0;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    font-family: OpenSansBold, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
}

.header {
    padding: 20px 0 0 0;

    & .container {
        display: flex;
    }

    &__logoWrapper {
        & .logo {
            font-family: OpenSansBold, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 22px;

            &-sign {
                font-family: OpenSansLight, sans-serif;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 0.75px;
                margin: 0 0 0 15px;

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: $blue;
                    position: absolute;
                    margin: 3px 0px 4px -13px;
                }
            }
        }
    }

    &__menu {

        margin: 0 0 0 65px;
        padding: 5px 0 0 0;

        &__list {

            list-style: none;
            display: flex;

            &__item {

                margin: 0 20px;

                & .menuLink {
                    padding: 20px 0;
                }
            }
        }
    }

    &__social {

        margin: -8px 0 0 auto;
        padding: 0 0 10px 0;

        &__list {

            list-style: none;
            display: flex;

            &__item {

                text-align: center;

                & .menuLink {
                    & i {
                        padding: 20px 10px;
                    }
                }
            }
        }
    }

    .menuLink {
        font-family: OpenSansBold, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: $blackFont;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
            color: $blue;
        }
    }
}

.slider {
    position: relative;

    &__photoWrapper {
        opacity: 0.1;
        transition: all 0.5s ease;

        &__slideName {
            font-family: OpenSansRegular, sans-serif;
            font-size: 30px;
            color: #fff;
            position: absolute;
            bottom: 20.43%;
            left: 5.8%;
            display: none;
        }
    }
}

.center {
    & .slider__photoWrapper {
        opacity: 1;
        transition: all 0.3s ease;

        &__slideName {
            display: block;
        }
    }
}

.slider-photo .owl-nav {
    position: absolute;
    color: #fff3;
    font-size: 48px;
    bottom: 10%;
    left: 23.12%;
    display: flex;
    justify-content: space-between;
    width: 80px;

    & button {
        transition: color .2s ease;
        outline: none;

        &:hover {
            color: #fff !important;
        }
    }
}

.about {
    padding: 67px 0 0 0;

    & .container {
        display: flex;
    }

    &__photoLineWrapper {
        height: 442px;
        width: 70px;
        overflow: hidden;

        &__photoLine {
            height: 100%;
            opacity: 0.47;
            margin: 0 0 0 -453px;
        }
    }

    &__photoWrapper {
        margin: 0 0 0 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__article {
        margin: 0 0 0 66px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: table;
        align-self: center;

        &__title {

            &::before {
                content: '';
                width: 66px;
                height: 3px;
                background-color: $blue;
                position: absolute;
                bottom: -8px;
                left: 2px;
            }

            &::after {
                content: '';
                width: 86.5%;
                height: 1px;
                background-color: #ebeff2;
                position: absolute;
                bottom: -7px;
                left: 68px;
            }
        }

        &__paragraph {
            font-family: OpenSansLight, sans-serif;
            font-size: 15px;
            padding: 37px 10px 12px 0;
            letter-spacing: 0.28px;
            line-height: 25px;
        }
    }
}

.services {
    &__titleWrapper {
        text-align: center;
        padding: 150px 0 0 0;

        &__title {
            position: relative;

            &::before {
                content: '';
                width: 60px;
                height: 3px;
                background-color: $blue;
                position: absolute;
                bottom: -8px;
                left: calc(50% - 30px);
                z-index: 1;
            }

            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #ebeff2;
                position: absolute;
                bottom: -7px;
                left: 68px;
            }
        }
    }

    &__offerings {
        padding: 47px 0 0 0;
        column-count: 3;
        -webkit-column-count: 3;
        column-gap: 18px;
        -webkit-column-gap: 18px;

        &__item {
            position: relative;
            background-color: #406c8e;
            overflow: hidden;
            display: flex;
            margin: 0 0 18px 0;
            break-inside: avoid;
            -webkit-column-break-inside: avoid;

            &__bg {
                opacity: 1;
                transition: opacity 0.3s ease;
            }

            &__expl {
                position: absolute;
                text-align: center;
                margin: auto 0;
                height: 150px;
                top: calc(63% - 75px);
                transform: translateY(-12%);
                color: #fff;
                transition: transform 0.3s ease;

                &__title {
                    opacity: 0.5;
                    font-family: OpenSansBold, sans-serif;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 15px 0 0 0;
                    transition: padding, opacity 0.3s ease;
                }

                &__price {
                    font-family: OpenSansRegular, sans-serif;
                    font-size: 14px;
                    transform: translate();
                    display: block;
                    opacity: 0;
                }

                &__desc {
                    font-family: OpenSansLight, sans-serif;
                    font-size: 14px;
                    line-height: 25px;
                    margin: 23px 0 0 0;
                    opacity: 0;
                }

                &__button {
                    font-family: OpenSansBold, sans-serif;
                    font-size: 14px;
                    outline: none;
                    background: none;
                    border: 2px solid #fff;
                    color: #fff;
                    padding: 9px 52px;
                    margin: 25px 0 0 0;
                    text-transform: uppercase;
                    cursor: pointer;
                    opacity: 0;
                    transition: all 0.2s ease;

                    &:hover {
                        color: #fff9;
                        border-color: #fff9;
                    }
                }
            }

            &:hover &__bg {
                opacity: 0.3;
            }

            &:hover &__expl {
                padding: 0 52px 0 52px;
            }

            &:hover &__expl__title,
            &:hover &__expl__desc,
            &:hover &__expl__price,
            &:hover &__expl__button {
                opacity: 1;
            }
        }
    }
}

.white-button {
    padding: 13px 58px;
    outline: none;
    background: none;
    border: 2px solid $blue;
    font-family: OpenSansBold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color, background-color 0.2s ease;

    &:hover {
        background-color: $blue;
        color: #fff;
    }

    &-wrapper {
        text-align: center;
        padding: 25px 0 0 0;
    }
}

.grid-small:hover .services__offerings__item__expl {
    transform: translateY(-42.7%);
    height: 300px;
    top: 50%;
}

.grid-big:hover .services__offerings__item__expl {
    transform: translateY(-50.0%);
    height: 300px;
    top: 50%;
}

.portfolio {
    padding: 150px 0 0 0;

    &__title {
        &::before {
            content: '';
            width: 60px;
            height: 3px;
            background-color: #7dadd3;
            position: absolute;
            bottom: -8px;
            left: calc(50% - 30px);
            z-index: 1;
        }

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #ebeff2;
            position: absolute;
            bottom: -7px;
            left: 0;
        }

        &-wrapper {
            text-align: center;
        }
    }

    &__collection {
        padding: 47px 0 15px 0;
        // column-count: 2;
        // -webkit-column-count: 2;
        // column-gap: 18px;
        // -webkit-column-gap: 18px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 18px;

        &__item {
            position: relative;
            display: flex;
            background-color: #000;

            &__bg {
                opacity: 1;
                transition: all 0.3s ease;
            }

            &__expl {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 74%;
                color: #fff;
                transition: all 0.3s ease;

                &-title {
                    font-family: OpenSansBold;
                    font-size: 24px;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &-lookall {
                    text-decoration: none;
                    color: #fff;
                    font-family: OpenSansRegular;
                    font-size: 14px;
                    padding: 10px;
                    display: block;
                    opacity: 0;
                    transition: opacity 0.3s ease;

                    &:hover {
                        color: #fff9;
                        transition: color 0.2s ease;
                    }
                }
            }

            &:hover &__expl {
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover &__bg {
                opacity: 0.4;
            }

            &:hover &__expl {
                &-title {
                    opacity: 1;
                }

                &-lookall {
                    opacity: 1;
                }
            }
        }

        &-sec1 {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 18px;

            &:nth-child(2), &:nth-child(3) {
                grid-template-columns: auto;
            }

            &-undersec1 {
                display: grid;
                grid-gap: 18px;
                grid-template-columns: auto;
            }

            &-undersec2 {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 18px;
            }
        }

        &-sec2 {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 18px;

            &-undersec1 {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 18px;
            }

            &-undersec2 {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 18px;
            }
        }
    }
}

.comments {
    padding: 150px 0 0 0;

    &__title {

        &::before {
            content: '';
            width: 60px;
            height: 3px;
            background-color: #7dadd3;
            position: absolute;
            bottom: -8px;
            left: calc(50% - 30px);
            z-index: 1;
        }

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #ebeff2;
            position: absolute;
            bottom: -7px;
            left: 0;
        }

        &-wrapper {
            text-align: center;
        }
    }

    &__slider {
        position: relative;

        &-wrapper {
            padding: 65px 44px 0 101px;
        }

        & .owl-nav {
            color: #0005;
        }

        &__item {
            display: flex;

            &__avatar {
                &-wrapper {
                    width: 80px;
                    height: 80px;
                }
            }

            &__context {
                max-width: 68%;
                letter-spacing: 0.3px;
                padding: 0 0 0 24px;


                &__name {
                    font-family: OpenSansBold;
                    font-size: 14px;
                    text-transform: uppercase;

                    &-wrapper {

                    }
                }

                &__text {
                    font-family: OpenSansLight;
                    font-size: 14px;
                    line-height: 1.5rem;
                    padding: 15px 0 0 0;

                    &-wrapper {

                    }
                }
            }
        }
    }
}

.comments__slider .owl-nav {
    position: absolute;
    font-size: 48px;
    top: 11%;
    display: flex;
    justify-content: space-between;
    width: 108.5%;
    margin: 0 0 0 -75px;

    & button {
        transition: color .2s ease;
        outline: none;

        &:hover {
            color: $blue !important;
        }
    }
}